astroid==2.15.3
awscli==1.27.49
beautifulsoup4==4.11.1
boto3==1.23.8
botocore==1.29.49
cachetools==5.2.0
certifi==2022.12.7
charset-normalizer==2.1.0
colorama==0.4.4
dill==0.3.6
distlib==0.3.6
docutils==0.16
filelock==3.12.0
google-api-core==2.10.1
google-api-python-client==2.62.0
google-auth==2.11.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.4
httplib2==0.20.4
idna==3.3
isort==5.12.0
jmespath==1.0.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
numpy==1.23.1
pandas==1.4.3
pgeocode==0.4.0
Pillow==9.5.0
platformdirs==3.2.0
protobuf==4.21.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.17.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.1
PyYAML==5.4.1
requests==2.28.1
rsa==4.7.2
s3transfer==0.6.0
Shapely==1.8.4
six==1.16.0
soupsieve==2.3.2.post1
tomli==2.0.1
tomlkit==0.11.7
typing_extensions==4.5.0
uritemplate==4.1.1
urllib3==1.26.9
virtualenv==20.22.0
wrapt==1.15.0
